@page "/classmates"
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient HttpClient
@inherits ComponentBase
<AuthorizeView Roles="Student">
    <Authorized>
        <h3>Classmates</h3>
        @if (studentcourses == null)
        {
            <p>Loading studentcourse...</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Course Id</th>
                        @* <th>Start Date</th>
                        <th>End Date</th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var studentcourse in studentcourses)
                {
                    <tr>
                        <td>@studentcourse.StudentId</td>
                        <td>@studentcourse.CourseId</td>
                       @*  <td>@studentcourse.StartDate.ToShortDateString()</td>
                        <td>@studentcourse.EndDate?.ToShortDateString()</td> *@
                    </tr>
                }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>


