@page "/studentcourse"
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient HttpClient
@inherits ComponentBase

<AuthorizeView Roles="Student">
    <Authorized>
        <h3>My Courses</h3>
        @if (studentcourse == null)
        {
            <p>Loading studentcourse...</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Course Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@studentcourse.CourseName</td>
                        <td>@studentcourse.CourseDescription</td>
                        <td>@studentcourse.StartDate.ToShortDateString()</td>
                        <td>@studentcourse.EndDate?.ToShortDateString()</td>
                    </tr>
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>


