@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
             </div>
        <article class="content px-4">
            @* <LMSGroup3.Client.Teacher.Courselist></LMSGroup3.Client.Teacher.Courselist>
<<<<<<< HEAD
            <LMSGroup3.Client.Student.StudentCourseList></LMSGroup3.Client.Student.StudentCourseList>*@
=======
            <LMSGroup3.Client.Student.StudentCourseList></LMSGroup3.Client.Student.StudentCourseList> *@
>>>>>>> ede9835e3dee31abd1370ceb317a51810af4ed54
            @Body
        </article>
    </main>
</div>
