@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Index</PageTitle>

<h1 class="display-4">Welcome to Lexicon LMS</h1>

<AuthorizeView Roles="Teacher">
    <Authorized>
        <h5 class="mb-4">Welcome, Teacher @context.User.Identity?.Name!</h5>
        <LMSGroup3.Client.Teacher.Courselist></LMSGroup3.Client.Teacher.Courselist>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Student">
    <Authorized>
        <h5 class="mb-4">Welcome, Student @context.User.Identity?.Name!</h5>
        <LMSGroup3.Client.Student.StudentCourseList></LMSGroup3.Client.Student.StudentCourseList>
    </Authorized>
</AuthorizeView>
